body {
    width: 100%;
  height:100%;
  margin: 0;  
   background-image: url('../893246.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.endGame {
  font-family: "Atma", sans-serif;
  color: rgb(20, 27, 226); 
  display: flex;
  flex-direction: column; 
  text-align: center;
  font-size: 42px;

}

.endGame h1 {
  padding: 8%;
  }

.endGame a {
    color:rgb(20, 27, 226);
    font-size: 52px;
    font-weight: bolder;
}
