@import url("https://fonts.googleapis.com/css?family=Atma:700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: url('../893246.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Atma", sans-serif;
  z-index: 2;
  max-width: 100%;
  max-height:100vh;
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

/*affichage nom score*/
table {
   border-collapse: collapse;
   color :rgb(85, 26, 139);
   background-color:#fefefe67;
}

table th, td {
  border: 2px solid rgb(255, 113, 69);
  border-radius: 25%;
  text-align: center;
  font-size: 28px;
  width: 200px;
  height: 8px;
  
}


/* centrer l'écran de jeu dans la fenêtre d'affichage */
.game {

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.game_screen {
  position: relative;
}
/* donne un style à la toile avec une bordure solide */
.game__screen canvas {
  margin: 2rem 0 3rem;
  background: #fefefe67;
  border-radius: 20px;
  border: 0.5rem solid rgb(255, 113, 69);
}


/* Positionnement absolu du bouton au centre du conteneur */
.game__screen .button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* afficher l'icône au dessus du texte, dans une colonne centrée horizontalement */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 3rem;
  color: inherit;
  /* transition pour le changement d'opacité */
  transition-property: opacity, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  /* par défaut, cacher le bouton de la vue */
  opacity: 0;
  visibility: hidden;
}
/* lorsqu'une classe .gameover est ajoutée au conteneur, affichez le bouton
! ajoutez la classe pour afficher immédiatement le bouton
*/
.game__screen.gameover .button {
  opacity: 1;
  visibility: visible;
}
/* dimensionner l'icône imbriquée en fonction de la taille de la police */
.game__screen .button svg {
  display: block;
  width: 1.5em;
  height: 1.5em;
}

