body{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

canvas {
    max-width: 100%;
    max-height: 100%;
}

#canvas{
    background-image: url("../img/score/20.1.1-gauche_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
}

.scoreCanvas{
    background-image: url("../img/score/scoreboard.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 260px;
    height: 120px;
    padding: 10px;
    margin-top: 2px;

}

.scoreCanvas ul{
        text-align: center;
        padding: 22px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: larger;
        list-style: none;
}

/* Tableau des scores */

.tableScore th {
    color: red;
    text-shadow: 1px 1px 1px black;
  }
  
.tableScore  thead td, tfoot th, tfoot td {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    border: 3px solid purple;
  }
